@model NewsFeedApplication.Models.Entities.News

@{
    ViewBag.Title = "Create News";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
            </p>
        </div>
    </section>
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>News</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.CategoryId, "Category")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CategoryId")
            @Html.ValidationMessageFor(model => model.CategoryId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Descripion)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Descripion, new { @id = "editor" })
            @Html.ValidationMessageFor(model => model.Descripion)
        </div>

        <div class="editor-label">
            Publish
        </div>
        <div class="editor-field">
            @Html.CheckBoxFor(model => model.IsPublished)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Content/js/fck/ckeditor.js"></script>
    <script src="~/Content/js/fck/samples/js/sample.js"></script>
    <link rel="stylesheet" href="~/Content/js/fck/samples/css/samples.css" />
    <link rel="stylesheet" href="~/Content/js/fck/samples/toolbarconfigurator/lib/codemirror/neo.css" />
    <script>
        initSample();
    </script>
}
